.AnswerItem {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  // padding-bottom: 20px;
  border-bottom: 1px ridge grey;
  // background-color: yellow;
}

.AnswerLeftControl {
  padding-right: 30px;
}

.AnswerItem-RightAnswerElements {
  display: flex;
  flex-direction: column;
  width: 100%;
  // background-color: lightskyblue;
}

.AnswerLowerControl {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  // background-color: indianred;
}

.ALC-ControlElements {
  display: flex;
  flex-direction: row;
  align-items: center;
  // background-color: khaki;
}

.ALC-ControlElements > div {
  font-size: small;
  color: #848D95;
  margin-right: 10px;
}

.ALC-ControlElements > div:hover {
  cursor: pointer;
}

.ALC-UserInfo {
  font-size: small;
  color: #6A737C;
  // background-color: hotpink;
}



.CommentItem-UserInfo {
  font-weight: bold;
}


.CommentItem {
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.CommentControl {
  padding-top: 5px;
}

.AnswerAlternative {
  margin-top: 30px;
}