.AnswerItem {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  // padding-bottom: 20px;
  border-bottom: 1px ridge grey;
  // background-color: yellow;
}

.AnswerLeftControl {
  padding-right: 30px;
}

.AnswerItem-RightAnswerElements {
  display: flex;
  flex-direction: column;
  width: 100%;
  // background-color: lightskyblue;
}

.AnswerLowerControl {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
  // background-color: indianred;
}

.ALC-ControlElements {
  display: flex;
  flex-direction: row;
  align-items: center;
  // background-color: khaki;
}

.ALC-ControlElements > div {
  font-size: small;
  color: #848D95;
  margin-right: 10px;
}

.ALC-ControlElements > div:hover {
  cursor: pointer;
}

.ALC-UserInfo {
  font-size: small;
  color: #6A737C;
  // background-color: hotpink;
}

.AnswerAlternative {
  margin-top: 30px;
}

// Answer Form CSS

.AnswerForm {
  padding-top: 20px;
  // background-color: red;
}

.AnswerFormTitle {
  font-size: x-large;
}

.AnswerInputBodyContainer {
  display: flex;
  flex-direction: row;
}

.AnswerInputBody {
  font-size: small;
  width: 100%;
  height: 200px;
  padding: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: lightgrey;
  border-radius: 3px;
}

.AnswerInputBody:focus {
  outline: 1px solid blue;
  box-shadow: 0 0 3pt 3pt lightblue;   
}