.CommentItem {
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: medium;
  border-top: 1px ridge lightgray;
  // background-color: red;
}


.CommentItem-UserInfo {
  font-size: small;
  color: #9199A1;
}

.CommentControl {
  display: flex;
  flex-direction: row;
  padding-top: 5px;
}

.CommentControl > div {
  font-size: small;
  color: #848D95;
  margin-right: 10px;
}

.CommentControl > div:hover {
  cursor: pointer;
}

// Comment Form css


//CommentForm CommentFormTitle CommentInputBodyContainer CommentInputBody

.CommentForm {
  padding-top: 10px;
  padding-left: 30px;
}

.CommentFormTitle {
  font-size: medium;
}


.CommentInputBodyContainer {
  display: flex;
  flex-direction: row;
}

.CommentInputBody {
  font-size: small;
  width: 100%;
  height: 200px;
  padding: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: lightgrey;
  border-radius: 3px;
}

.CommentInputBody:focus {
  outline: 1px solid blue;
  box-shadow: 0 0 3pt 3pt lightblue;   
}