.CommentItem {
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: medium;
  border-top: 1px ridge lightgray;
  // background-color: red;
}


.CommentItem-UserInfo {
  font-size: small;
  color: #9199A1;
}

.CommentControl {
  display: flex;
  flex-direction: row;
  padding-top: 5px;
}

.CommentControl > div {
  font-size: small;
  color: #848D95;
  margin-right: 10px;
}

.CommentControl > div:hover {
  cursor: pointer;
}

.AnswerAlternative {
  margin-top: 30px;
}