.NavBar {
    position: fixed;
    top: 0;
    display: flex;  
    justify-content: space-between;
    align-items: center;
    background: white;
    width: 100%;
    height: 55px;
    border-top: 3px solid #f48024;
    border-bottom: 1px ridge grey;
    // background-color: yellow;
}

.LeftNavBar {
    display: flex;
    align-items: center;
}

.LeftNavBarText {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    padding-left: 3px;
}

.NavBar a {
    // background-color: green;
    text-decoration: none;
    color: black;
}

.NavBar a:hover {
    background-color: lightgray;
    filter: brightness(0.8)
}