// NavBar general css

.NavBar {
    position: fixed;
    top: 0;
    display: flex;  
    justify-content: flex-start;
    align-items: center;
    background: white;
    width: 100%;
    height: 55px;
    border-top: 3px solid #f48024;
    border-bottom: 1px ridge grey;
    // background-color: yellow;
}

// Left NavBar elements

.LeftNavBar {
    display: flex;
    align-items: center;
    height: 100%;
    width: 200px;
    flex-shrink: 0;
    // background-color: mediumorchid;
}

.NavBar a {
    // background-color: green;
    text-decoration: none;
    color: black;
}

.LeftNavBar:hover {
    background-color: lightgray;
    outline: solid 1px lightgray;
}

.LeftNavBarText {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: large;
    letter-spacing: 1px;
    padding-left: 3px;
    // background-color: midnightblue;
}

// Middle NavBar CSS

.MiddleNavBar {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    // background-color: turquoise;
}


.MiddleNavBarText {
    padding-left: 8px;
    padding-right: 8px;
    font-size: large;
    color: #535A60;
    border-radius: 100px; 
    padding: 8px;
}

.MiddleNavBarText:hover {
    background-color: lightgray;
}

// Right NavBar CSS

.RightNavBar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    // background-color: mediumblue;   
}

// Nav bar search css properties

.NavSearchBar {
    display: flex;
    flex-direction: row;
    width: 80%;
    // background-color: mediumorchid;
}

.NavSearchInput {
    width: 100%;
    height: 40px;
    border-width: 1px;
    border-style: solid;
    border-color: lightgrey;
    border-radius: 3px;
margin-right: 5px;
    // background-color: maroon;
}

.NavSearchInput:focus {
    outline: 1px solid blue;
    box-shadow: 0 0 3pt 3pt lightblue;
}

.NavUsernameBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    // background-color: violet;
}

.NavUsernameBox:hover {
    background-color: lightgray;
    outline: solid 1px lightgray;
}

.NavUsernameText {
    font-size: large;
    font-weight: bold;
    padding-left: 8px;
    padding-right: 8px;
}

// .NavDropdown {
//     position: relative;
//     display: inline-block;
// }

// .NavDropdownContent {
//     display: none;
//     position: absolute;   
// }

// .NavDropdown:hover .NavDropdownContent {
//     display: block;
// }