

.QuestionShow-MainColumn {

    display: flex;
    flex-direction: column;
    // align-items: center;
    width: 70%;
    // margin: auto;
    margin-left: 200px;
    margin-top: 75px;
    // background-color: aqua;
}


.QuestionShow-TitleBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid grey;
    // background-color: blueviolet;

}

.LeftQuestionShowBox2 {
    font-size: 30px;
    // background-color: cornflowerblue;
}

.QuestionShow-QuestionElements {   
    display: flex;
    margin-top: 30px;
    padding-bottom: 20px;
    border-bottom: solid grey;
    // background-color: coral;
}

.QuestionShow-RightQuestionElements {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.QuestionShowBox4 {
    margin-top: 20px;
    font-size: 25px;
    // background-color: purple;
}

// separate out marginal css stuff
// put answer stuf in own sheet

.AnswerItem-RightAnswerElements {
    display: flex;
    flex-direction: column;
    width: 100%;
    // background-color: lightskyblue;
}

.QuestionLowerControl, .AnswerLowerControl {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    // background-color: green;
}

.QLC-UserInfo, .ALC-UserInfo, .CommentItem-UserInfo {
    font-weight: bold;
}


.AnswerItem {
    display: flex;
    margin-top: 30px;
    padding-bottom: 20px;
    border-bottom: solid grey;
    // background-color: yellow;
}

.QuestionLeftControl,.AnswerLeftControl {
    padding-right: 30px;
    display: flex;
    align-items: center;
}