// CSS pertaining to New and Edit Question upper sections

.NewQuestion, .EditQuestion {
    background-color: lightgrey;
    margin-top: 55px;    
}

.NewQuestion-Title, .EditQuestion-Title {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 130px;
    align-items: center;
    background-image: url("ask.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
}

.NewQuestion-TitleText, .EditQuestion-TitleText {
    padding-left: 20px;
    font-size: x-large;
}

// QuestionForm CSS

.QuestionForm {
    margin-left: 20px;
}

.QuestionWhiteBox {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 16px;
    box-shadow: 1px 1px 3px gray;
    border-radius: 3px;
    background-color: white;
    margin-bottom: 20px;
}

.QuestionFieldName {
    font-size: medium;
    font-weight: 600;
    margin-top: 10px;
}

.QuestionFieldTips {
    font-size: small;
    margin-top: 5px;
    margin-bottom: 5px;
}

.QuestionInputTitle, .QuestionInputBody {
    font-size: small;
    padding: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: lightgrey;
    border-radius: 3px;
}

.QuestionInputTitle:focus, .QuestionInputBody:focus {
    outline: 1px solid blue;
    box-shadow: 0 0 3pt 3pt lightblue;   
}

.QuestionInputBody {
    height: 200px;
}

