// Base column for upper section info and lower indexing
// Used by both AllQuestions and SearchQuestions

.AnyQuestionIndex-Elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin-left: 200px;    
    // margin-top: 75px;
    padding-left: 30px;
    padding-top: 75px;
    border-left: solid grey;
    // background-color: green;
}

// AllQuestion-specific CSS

.AllQuestions {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding-bottom: 20px;
    font-size: 30px;
    border-bottom: solid grey;
    // background-color: red;
}

// SearchQuestions-specific CSS

.SearchQuestions {
    display: flex;
    flex-direction: column;
    width: 100%;
    // background-color: antiquewhite;
}

.SearchQuestions-TitleBar {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    // background-color: azure;
}

.SearchResults {
    font-size: 1.8rem;
}

.SearchInfo {
    font-size: small;
    color: #6A7E7C;
}


// Question Index stuff...common to both AllQuestions and SearchQuestions

.QuestionIndex-Questions {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    // background-color: maroon;
}

.QuestionIndexItem {
    display: flex;
    flex-direction: row;
    width: 100%;
    // justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: solid grey;
    // background-color: magenta;
}

.QuestionInfo {
    display: flex;
    flex-direction: row;
    // padding-right: 30px;
    width: 80px;
    // background-color: yellowgreen;
}