// Base column for upper section info and lower indexing
// Used by both AllQuestions and SearchQuestions
// Other shared elements above as well

.AnyQuestionIndex-Elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin-left: 200px;    
    padding-top: 75px;
    border-left: 1px ridge grey;
}

.AllQuestions, .SearchQuestions {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 30px;
    border-bottom: 1px ridge grey;
}

.AllQuestions > *, .SearchQuestions > * {
    padding-left: 30px;
}

.AllQuestions-TitleBar, .SearchQuestions-TitleBar {
    display: flex;
    flex-direction: row;
    // flex-grow: 0;
    width: auto;
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    // background-color: violet;
}

.AllQuestions-Text, .SearchResults {
    font-size: 1.8rem;
}

.AllQuestionsLowerControl, .SearchQuestionsLowerControl {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: left;
    margin-top: 20px;
}

.AQLC-Left, .SQLC-Left {
    // background-color: lightsalmon;
}

// AllQuestion-specific CSS

// nothing yet !

// SearchQuestions-specific CSS

.SearchInfo {
    font-size: small;
    color: #6A7E7C;
}

.AnotherSearchBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    // background-color: red;    
}

.AnotherSearchInput {
    width: 100%;
    height: 30px;
    border-width: 1px;
    border-style: solid;
    border-color: lightgrey;
    border-radius: 3px;
    margin-right: 3px;
}

.AnotherSearchInput:focus {
    outline: 1px solid blue;
    box-shadow: 0 0 3pt 2pt lightblue;
}

// Question Index stuff...common to both AllQuestions and SearchQuestions

.QuestionIndex-Questions {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    // background-color: maroon;
}

.QuestionIndexItem {
    display: flex;
    flex-direction: row;
    width: 100%;
    // justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px ridge grey;
    // background-color: magenta;
}

.QuestionInfo {
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    width: 80px;
    // background-color: yellowgreen;
}