// This file contains css for question_show that pertains to questions.

// Ideally, answer and comment stuff will be in different files

.QuestionShow-MainColumn {

    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 200px;
    margin-top: 55px;
    border-left: 1px ridge grey;
    padding-left: 30px;
    // background-color: aqua;
}

.QuestionShow-TitleBox {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 15px;
    border-bottom: 1px ridge grey;
    // background-color: blueviolet;
}

.QuestionShow-TitleRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.QuestionShow-TitleInfo {
    margin-top: 5px;
    color: #6A737C;
    font-size: small;
}

.LeftQuestionShowBox2 {
    font-size: 30px;
    // background-color: cornflowerblue;
}

.QuestionShow-QuestionElements {   
    display: flex;
    flex-direction: row;
    // align-items: baseline;
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px ridge grey;
    background-color: coral;
}

.QuestionShow-RightQuestionElements {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: lemonchiffon;
}

.QuestionLeftControl {
    background-color: green;
}

.QuestionShowBox4 {
    margin-top: 20px;
    font-size: 25px;
    // background-color: purple;
}

// separate out marginal css stuff
// put answer stuf in own sheet

.AnswerItem-RightAnswerElements {
    display: flex;
    flex-direction: column;
    width: 100%;
    // background-color: lightskyblue;
}

.QuestionLowerControl, .AnswerLowerControl {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    // background-color: green;
}

.QLC-UserInfo, .ALC-UserInfo, .CommentItem-UserInfo {
    font-weight: bold;
}


.AnswerItem {
    display: flex;
    margin-top: 30px;
    padding-bottom: 20px;
    border-bottom: solid grey;
    // background-color: yellow;
}

.QuestionLeftControl,.AnswerLeftControl {
    padding-right: 30px;
    display: flex;
    align-items: center;
}

.CommentItem {
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: solid grey;
}

.CommentControl {
    padding-top: 5px;
}

.AnswerAlternative {
    margin-top: 30px;
}