

.QuestionIndex-QuestionIndexElements {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin-left: 200px;    
    // margin-top: 75px;
    padding-left: 30px;
    padding-top: 75px;
    border-left: solid grey;
    // background-color: green;
}

.QuestionIndex-TitleBox {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding-bottom: 20px;
    font-size: 30px;
    border-bottom: solid grey;
    // background-color: red;
}

.QuestionIndex-Questions {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    // background-color: maroon;
}

.QuestionIndexItem {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: solid grey;
    // background-color: magenta;
}

.QuestionInfo {
    // background-color: yellowgreen;
}