

button:hover {
    cursor: pointer;
}

body {
    background-color: lightgray;
}

.ErrorMessage {
    color: red;
    font-size: small;
}

.PageUnknown {
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-large;
}