
// SessionButtonRow SessionNotice

.SessionElements, .SignupElements {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    align-items: center;
    justify-content: center;
    margin-top: 55px;
    background-color: lightgray;
}

.SessionForm, .SignupForm {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 20px;
    border-radius: 5px;
}

.SessionFormLabel, .SignupFormLabel {
    margin-top: 10px;
    font-weight: 700;
}

.SessionInput, .SignupInput {
    font-size: small;
    padding: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;
    border-radius: 3px;
    margin-top: 3px;
}

.SessionInput:focus, .SignupInput:focus {
    outline: 1px solid blue;
    box-shadow: 0 0 3pt 3pt lightblue;   
}

.SessionButtonRow, .SignupButtonRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5px;
}

.SessionNotice, .SignupNotice {
    margin-top: 20px;
}