.SplashElements {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 55px;
  // background-color: yellowgreen;
}

.SplashUpperSection {
  display: flex;
  flex-direction: column;
  height: 500px;
  align-items: center;
  background-color: #FFCF10;
  background-image: url("splash.svg");
  background-position: center;
}

.SplashWeLove {
  font-size: 3rem;
  font-weight: 700;
  font-family: RobotoSlabBold;
  margin-top: 130px;
}


.SplashIntroductory {
  width: 430px;
  text-align: center;
  margin-top: 30px;
  font-family: SourceSansPro;
  font-size: 1.6rem;
  line-height: normal;
  // background-color: red;
}

.SplashLaunchBar {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  // background-color: hotpink;
}

.SplashMiddleSection {
  // background-color:green;
}

.SplashLowerSection {
  // background-color: orchid;
}