
.VoteColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: baseline;
    // margin-left: 20px;
    // margin-right: 20px;
    color: #6A737C;
    font-size: large;
    // background-color: yellow;
}

.VoteText {
    font-size: small;
}

.VotingBox:hover {
    cursor: pointer
}

.VoteTriangle {
    fill: grey;
}

.VotedTriangle {
    fill: blue;
}
